html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Pod
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        div(class="container")
            br
            h1(style="text-align: center;") Impressum und Datenschutz
                | Diese Plattform speichert nur Daten, die hochgeladen werden. Richtige Datenschutzhinweise werden bald ergänzt.