html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title LeCast - Lecture Podcast
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="/res/style.css")

    body
        form(class = "border-class" action=url method="post" enctype="multipart/form-data")
            div(class="header")
                h2 LeCast - Lecture Podcast
            p
                a(href="/alpaka")
                    b Alpaka-Geräusche
            p
                a(href="/anatomie")
                    b Anatomie II
            p
                a(href="/ps")
                    b Pädagogische Psychologie
            br
            br
            div(class="form-group")
                label(for="Title") Titel:
                input(type="text" class="form-control" id="Title" name="Title")
            div(class="form-group")
                button(class="btn btn-warning btn-sm") neue Podcast-Liste anlegen
            br