<template>
<div>
    About me: I am someone but you probably guessed as much.
    <br>
    Something about data protection... i'll ask Sergio... probably
</div>
</template>

<script>
    export default {
        name: "PodcastList"
    };
</script>

<style scoped>

</style>