<template>
    <div>
        <h1>Create new Podcast Feed</h1>
        <v-form>
            <v-text-field v-model="title" label="Title"></v-text-field>
            <v-textarea v-model="description" label="Description (optional)"></v-textarea>
            <v-text-field v-model="id" label="Public Name (optional)" hint="Warning: This might make your feed findable"
                          persistent-hint prepend-icon="mdi-help"></v-text-field>
            <v-file-input label="Thumbnail (ignored)" prepend-icon="mdi-camera"></v-file-input>
            <v-btn color="info" @click="submit">
                Create
            </v-btn>
        </v-form>

    </div>
</template>

<script>
    import axios from "axios";

    function dec2hex (dec) {
        return ('0' + dec.toString(16)).substr(-2)
    }
    function generateId (len) {
        var arr = new Uint8Array((len || 40) / 2)
        window.crypto.getRandomValues(arr)
        return Array.from(arr, dec2hex).join('')
    }

    export default {
        name: "AddPodcast",
        data() {
            return {
                title: "",
                description: "",
                id: ""
            };
        },
        methods: {
            submit() {
                axios.post(`${location.origin}/api`, {
                    title: this.title,
                    description: this.description,
                    id: this.id || generateId(20)
                }).then(result => {
                    this.$store.commit('addPodcast', result.data);
                    this.$router.push(`/${result.data}`);
                })
            }
        }
    };
</script>

<style scoped>

</style>