<template>
    <div>
        <h1>Known Podcast Lists</h1>
        <v-list three-line>
            <v-list-item link v-for="podcast in knownPodcasts" :to="`/${podcast}`">
                <v-list-item-avatar>
                    <img src="../res/alpaka.jpg"></img>
                </v-list-item-avatar>
                <v-list-item-content>
                    <v-list-item-title>{{podcast}}</v-list-item-title>
<!--                    <v-list-item-subtitle class="text&#45;&#45;primary">Alpakas sind sehr faszinierende Tiere</v-list-item-subtitle>-->
<!--                    <v-list-item-subtitle>Hier kann beliebig viel Beschreibung hin. In Ermangelung einer besseren Idee, schreibe ich hier aber nochmal den Text von oben hin: Alpakas sind sehr faszinierende Tiere</v-list-item-subtitle>-->
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </div>
</template>

<script>
    import {mapState, mapGetter, mapActions} from "vuex";

    export default {
        name: "Home",
        computed: {
            ...mapState(["knownPodcasts"]),
        }
    };
</script>

<style scoped>

</style>