<template>
    <v-app>
        <v-navigation-drawer
                v-model="drawer"
                app
                clipped
        >
            <v-list dense>
                <v-list-item link :to="`/`">
                    <v-list-item-action>
                        <v-icon>mdi-home</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>
                            Podcast List
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list subheader>
                    <v-subheader>known podcast-feeds</v-subheader>

                    <v-list-item link v-for="podcast in knownPodcasts" :to="`/${podcast}`">
                        <v-list-item-action>
                            <v-icon>mdi-podcast</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>{{podcast}}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                <v-list-item link :to="`/add`">
                    <v-list-item-action>
                        <v-icon>mdi-plus-thick</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>
                            create podcast list
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-divider></v-divider>
                <v-list-item link :to="`/about`">
                    <v-list-item-action>
                        <v-icon>mdi-information-outline</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>
                            About
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
                app
                clipped-left
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>LeCast - Lecture Podcasts</v-toolbar-title>
        </v-app-bar>

        <v-content>
            <div class="pagecontent">
                <div class="innerpagecontent">
                    <router-view></router-view>
                </div>
            </div>
        </v-content>

        <v-footer app>
            <span>&copy; 2020 Lorenz Glißmann</span>
        </v-footer>
    </v-app>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "PodcastList",
        data() {
            return {
                drawer: true
            };
        },
        computed: {
            ...mapState(["knownPodcasts"]),
        }
    };
</script>

<style scoped>
    .pagecontent {
        margin: 20px;
        text-align: center;
    }

    .innerpagecontent {
        max-width: min(800px, 100vw);
        width: 100vw;
        display: inline-block;
    }
</style>