<template>
    <div>
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            <h1>
                <v-list-item-avatar>
                    <img src="../res/alpaka.jpg"></img>
                </v-list-item-avatar>
                {{metadata.title}}
            </h1>
            <br>
            <v-text-field label="Feed-URL" prepend-icon="mdi-link" filled
                          readonly :value="metadata.feed_url"></v-text-field>
            <v-btn color="info" :to="`${$route.params.id}/add`">add Something to this podcast feed</v-btn>
            <br>
            <br>
            <br>
            <VueRssFeed style="margin-left: auto; margin-right:auto" :feedUrl="metadata.feed_url" :name="'RSS-Vorschau:'"/>
        </div>
    </div>
</template>

<script>
    import VueRssFeed from "vue-rss-feed";
    import {mapState} from "vuex";
    import axios from "axios";

    export default {
        name: "PodcastHome",
        components: {
            VueRssFeed
        },
        data() {
            return {
                loading: true,
                metadata: {
                    feed_url: "",
                    title: ""
                }
            };
        },
        created() {
            // fetch the data when the view is created and the data is
            // already being observed
            this.fetchData();
        },
        watch: {
            // call again the method if the route changes
            "$route": "fetchData"
        },
        computed: {
            ...mapState(["knownPodcasts"]),
        },
        methods: {
            fetchData() {
                axios.get(`${location.origin}/api/${this.$route.params.id}`).then((res) => {
                    console.log(res.data)
                    if(!this.knownPodcasts.includes(this.$route.params.id))
                        this.$store.commit('addPodcast', this.$route.params.id);
                    this.metadata = res.data.metadata;
                    this.loading = false;
                })
            }
        }

    };
</script>

<style scoped>

</style>