<template>
    <div>
        <h1>Add something to feed {{$route.params.id}}</h1>
        <v-form>
            <v-tabs>
                <v-tab>Video</v-tab>
                <v-tab-item>
                    <v-file-input v-model="file" label="add video files" :loading="loading"></v-file-input>
                </v-tab-item>
                <v-tab>URL</v-tab>
                <v-tab-item>
                    <v-text-field v-model="url" label="Link to Video" prepend-icon="mdi-earth"></v-text-field>
                </v-tab-item>
            </v-tabs>
            <div v-if="loading && progress!==100">
                Uploading
                <video loop autoplay src="../res/loading.webm"></video>
            </div>
            <div v-else-if="loading && progress === 100"> Converting</div>
            <v-progress-linear
                    v-if="loading"
                    :value="progress"
                    height="25"
                    reactive
                    color="info"
            >
                <strong>{{ progress }}%</strong>
            </v-progress-linear>
            <v-text-field v-model="name" label="Name (optional)"></v-text-field>
            <v-textarea v-model="description" label="Description (optional)"></v-textarea>
            <v-file-input label="custom thumbnail (optional)" prepend-icon="mdi-camera"></v-file-input>
            <v-btn color="info" @click="submit">
                Add
            </v-btn>
        </v-form>

    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "Uploader",
        data: () => ({
            name: "",
            description: "",
            file: null,
            url: "",
            loading: false,
            progress: 0
        }),
        methods: {
            submit() {
                let formData = new FormData();
                formData.append("name", this.name);
                formData.append("description", this.description);
                formData.append("file", this.file);
                formData.append("url", this.url);
                this.loading = true;

                axios.post(`${location.origin}/api/${this.$route.params.id}`, formData, {
                    headers: {"Content-Type": "multipart/form-data"},
                    onUploadProgress: (progressEvent) => {
                        this.progress = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                        console.log((progressEvent.loaded * 100) / progressEvent.total);
                    }

                })
                    .then(result => {
                        this.loading = false;
                        this.$router.push(`/${this.$route.params.id}`);
                    });
            }
        }
    };
</script>

<style scoped>

</style>